@import 'list';


body {
    margin: 0;
    padding: 0;
    color: #444;
    background-color: #eaece5;
  }
  /*
   * Formatting the header area
   */
   h1 {
    font-size: 4em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
    background-color: rgb(223, 247, 223);
    padding: 15px ;
  }

  ul {
    padding:30px ;
    padding-left:60px ;
    background-color:#588c7e;
    font-size: 30px;
    margin: 30px ;


  }

  li {
    padding: 10px ;
    margin: 10px ;
  }

  li a {
    color: #f4e1d2;
    text-decoration: none;
  }

  form {
    padding: 20px ;
    margin: 30px ;
    background-color: #588c7e ;
  }

  a {

  }




  .example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;

    letter-spacing: 2px;
  }

  .example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }


  .example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3b3a30;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }

  .example_x {
    color: #fff !important;
    text-decoration: none;
    padding: 10px;
    background: #3b3a30;
    display: inline-block;
    border: none;
    font-size: 25px ;
  }

  .example_z {
    color: #fff !important;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border: none;
    font-size: 30px ;
  }